<div class="container">
  <div class="logo">
    <img src="/assets/static/logo.png" alt="Portal Logo" class="portal-logo" />
  </div>
  <h1 class="portal-name">TNDocManager</h1>
  <form (ngSubmit)="onSubmit()" class="form-container">
    <!-- Username -->
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        id="username"
        [(ngModel)]="username"
        name="username"
        class="form-control"
        placeholder="Enter your username"
      />
      <div *ngIf="usernameError" class="alert alert-danger">
        {{ usernameError }}
      </div>
    </div>

    <!-- Password -->
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        name="password"
        class="form-control"
        placeholder="Enter your password"
      />
      <div *ngIf="passwordError" class="alert alert-danger">
        {{ passwordError }}
      </div>
    </div>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
    </div>

    <!-- Login Button -->
    <button type="submit" class="btn">Login</button>

    <div class="forgot-password-container mt-4">
      <button type="button" class="btn-link" (click)="navigateToForgotPassword()">Forgot Password?</button>
    </div>
  </form>
</div>
