<!-- <div class="sidebar">
  <ul>
    <li><a routerLink="/system/task1">Task 1</a></li>
    <li><a routerLink="/system/task2">Task 2</a></li>
  </ul>
</div> -->

<div class="content">
  <router-outlet></router-outlet> <!-- This will render routed components -->
</div>
<!-- 

<div class="main-layout">
  <aside class="side-nav">
    <h2>TNDocManager</h2>
    <nav>
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/upload" routerLinkActive="active">Upload</a>
      <a routerLink="/edicompare" routerLinkActive="active">EDI Compare</a>
      
    </nav>
  </aside>
  <main>
    <router-outlet></router-outlet>
  </main>
</div> -->
