<div class="container">
  <div class="logo">
    <img src="/assets/static/logo.png" alt="Portal Logo" class="portal-logo" />
  </div>
  <h1 class="portal-name">TNDocManager</h1>
  <form (ngSubmit)="onSubmit()" class="form-container">
    <!-- New Password -->
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" class="form-control" required placeholder="Enter new password" />
    </div>
    <div *ngIf="newpasswordError" class="alert alert-danger mt-3">
      {{ newpasswordError }}
    </div>
    <!-- Confirm Password -->
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" class="form-control" required placeholder="Confirm new password" />
    </div>
    <div *ngIf="confirmedpasswordError" class="alert alert-danger mt-3">
      {{ confirmedpasswordError }}
    </div>
    <!-- Reset Password Button -->
    <button type="submit" class="btn">Reset Password</button>
    <div *ngIf="successMessage" class="alert alert-success mt-3">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>

    <div class="forgot-password-container mt-4">
      <button type="button" class="btn-link" (click)="navigateToLogin()">Back to Login</button>
    </div>
  </form>
</div>
